@font-face {
    font-family: "proximanova";
    src: url("fonts/proximanova-regular-webfont.woff") format('woff');
}
@font-face {
    font-family: "proximanova-light";
    src: url("fonts/proximanova-light-webfont.woff") format('woff');
}
@font-face {
    font-family: "proximanova-bold";
    src: url("fonts/proximanova-bold-webfont.woff") format('woff');
    font-weight: 400;
}

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: "proximanova",Helvetica,Arial,sans-serif;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body, html {
		width: 100%;
		height: 100%;
	}

	::selection {
		color: #fff;
	}

	::-moz-selection {
		color: #fff;
	}

	::selection , body{
		background: #000;
	}

	::-moz-selection, body{
		background: #000;
	}

	textarea {
		min-height: 80px;
		max-height: 160px;
		resize: vertical;
	}

/* Box Model */

	*, *:before, *:after:not(.loading) {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

.logo {
	width: 50px;
	position: absolute;
	top: 50px;
	left: 100px;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
	outline: none;
}

@media only screen and (max-width: 960px){

}

.is-loaded {
	width: auto;
	position: relative;
	overflow: hidden;
}

.header {
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("background1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.header-fixed {
	position: fixed;
}

.header-title {
	color: #fff;
}

.scroll {
	color: #fff;
	text-decoration: none;
}

.skill-title {
	position: relative;
	top: -15px;
	left: 9.5em;
	letter-spacing: 3px;
	color: #fff;
	font-family: 'Saira Semi Condensed', sans-serif;
}

.main {
	background-color: #fff;
	position: relative;
}

.active {
	color: #000 !important;
}

.photo-content {
	display: inline-block;
	position: relative;
	top: 20px;
}

.photo-profile {
	border: solid 5px #ddd;
	height: 300px;
}

.about-me {
	height: 400px;
}

.about-content {
	position: relative;
	left: 100px;
	top: -250px;
	width: 60%;
	line-height: 0.6;
	display: inline-table;
}

.about-text {
	position: relative;
	top: 30px;
	color: #B5B5B5;
	font-size: 25px;
	line-height: 1;
}

.profile:before {
	webkit-transform: skewY(-4deg);
	transform: skewY(-4deg);
}

.profile:before {
	background-color: #fff;
}

.edu:before {
	webkit-transform: skewY(4deg);
	transform: skewY(4deg);
}

.edu, .edu:before {
	background-color: #666;
}

.edu {
	color: #fff;
}

.header-first, .header-last {
	margin-bottom: 50px;
}

.header-last {
	color: #fff;
}

.profile-headline-title:first-child {
	font-size: 50px;
}

.profile-headline-skill:first-child {
	margin-top: 20px;
	font-size: 50px;
	text-align: center;
	color: #000;
}

.footer-headline-title {
	color: #fff;
}

.line-cover {
	height: 300px;
	width: 86%;
	position: absolute;
	text-align: center;
}

.line:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 304px;
	bottom: 230px;
	height: 230px;
	left: 50%;
	border-left: solid 2px #fff;
	transform: translate(-50%);
}

.line-left:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 19em;
	left: 45%;
	right: 50%;
	border-top: solid 2px #fff;
}

.line-right:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 29em;
	left: 45%;
	right: 50%;
	border-top: solid 2px #fff;
	transform: translate(100%);
}

.round:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 530px;
	bottom: 230px;
	left: 50%;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 100%;
	transform: translate(-50%);
}

.round-text:after {
	content: "Sekarang";
	position: absolute;
	z-index: 1;
	top: 550px;
	bottom: 230px;
	left: 50%;
	transform: translate(-50%);
}

.edu-content {

}

.edu-cover {
	
}

.edu-text {
	width: 44%;
	border-left: solid 2px #fff;
	transform: translate(-0.1%);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16),0 2px 12px 0 rgba(0,0,0,0.12);
}

.edu-text1 {
	width: 44%;
	border-right: solid 2px #fff;
	transform: translate(126.5%,-30%);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16),0 2px 12px 0 rgba(0,0,0,0.12);
}

.edu-header {
	padding: 40px 100px;
}

.footer:before {
	webkit-transform: skewY(-4deg);
	transform: skewY(-4deg);
}

.footer, .footer:before {
	background-color: #000;
}

.address {
	width: 35%;
	position: relative;
	margin-right: 60px;
}

.address-text {
	margin-bottom: 20px;
	color: #fff;
}

.cover-last {
	position: relative;
	display: flex;
}

.form {
	margin: 0 auto auto 0;
	padding: 0;
	text-align: left;
	position: relative;
	top: 10px;
	display: inline;
}

.form input:not(.send), .form textarea {
	border-radius: 3px;
	border: solid 1px #fff;
	background: transparent;
	color: #fff;
}

.form input:focus, .form textarea:focus {
	
}

.textbox:first-child {
	margin-right: 60px;
}

.textbox {
	width: calc(100% - 303px);
	padding: 8px;
}

.message {
	padding: 8px;
	height: 80px;
	width: 483px;
	max-height: 108px;
}

.send {
	position: absolute;
	top: 200px;
	right: 0;
	padding: 8px 40px;
	background: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.g-edu:first-child {
	font-family: "proximanova-bold",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 18px;
}

.g-edu {
	font-family: "proximanova-bold",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 18px;
}

.g-container {
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.g-section:before {
	position: absolute;
	width: 100%;
	height: 0;
	padding-bottom: 8%;
	margin-top: -4%;
	top: 0;
	right: 0;
	left: 0;
}

.g-section:before {
	content: "";
}

.g-section {
	position: relative;
	padding-bottom: 8%;
}

.g-headline {
	margin-bottom: 5%;
	position: relative;
	text-align: center;
}

.g-title {
	font-family: "proximanova-bold",Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 96px;
}

.g-skill {
	font-family: "proximanova-bold",Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 40px;
}

.g-content {
	padding: 7%;
	position: relative;
}

.button:first-child {
	
	border: solid 1px #000;
	border-radius: 3px 0 0 3px;
}

.button:nth-child(n+2):nth-last-child(n+2) {
	border: solid 1px #000;
	border-left: none;
	border-right: none;
	transform: translateX(-5px);
}

.button:last-child {
	border: solid 1px #000;
	transform: translateX(-10px);
	border-radius: 0 3px 3px 0;
}

.show {
	color: #B5B5B5;
	padding: 8px 40px;
}
.current {
	background: #000;
}

.list {
	margin-top: 30px;
}

.grup {
	margin-top: 20px;
}

.target {
	display: inline-flex;
	width: 100%;
}

.item1 {
	width: 33.33%;
	border-right: solid 1px #B5B5B5;
	margin: 30px 0;
}

.item1:last-child {
	border: none;
}

.item2 {
	width: 33.33%;
	border-right: solid 1px #B5B5B5;
	margin: 30px 0;
}

.item2:last-child {
	border: none;
}

.item3 {
	width: 50%;
	border-right: solid 1px #B5B5B5;
	margin: 30px 0;
}

.item3:last-child {
	border: none;
}

.text1 {
	margin-top: 30px;
}

.skill {
	font-family: "proximanova",Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 20px;
}

.circle {
	margin: auto;
	width: 95px;
	height: 95px;
	padding: 30px;
	border: solid 1px #B5B5B5;
	border-radius: 100%;
}

.fa-html5 {
	color: #B5B5B5;
	font-size: 5.7em;
}

.fa-css3 {
	color: #B5B5B5;
	font-size: 5.7em;
}

.icon-jquery {
	color: #B5B5B5;
	font-size: 5.7em;
}

.icon-mysql {
	color: #B5B5B5;
	font-size: 5.7em;
}

.fa-code {
	color: #B5B5B5;
	font-size: 5.2em;
}

.header-content {
	position: absolute;
	bottom: 0;
	left: 0;
}

.header-navigation {
	position: fixed;
	top: 50px;
	right: 100px;
	z-index: 9999;
}

.header-navigation-side {
	position: fixed;
	width: 18px;
	top: 40%;
	right: 30px;
	z-index: 9999;
}

.header-navigation-side a {
	display: block;
	margin: 10px 0;
	width: 15px;
	height: 15px;
	background-color: #BFBFBF;
	border-radius: 20%;
}

.header-navigation ul li:first-child {
	margin-left: 0;
}
.header-navigation ul li {
	margin-left: 20px;
}

.designed {
	position: relative;
	display: inline;
	left: 7%;
	top: 50px;
}

.designed-text {
	color: #fff;
}

#div2 {
	position: relative;
}

svg, img {
	position: relative;
	
}

path, polygon {
	fill: #B5B5B5;
}

li {
	display: inline-block;
}
a {
	cursor: pointer;
}

@media only screen and (max-width: 1600px), only screen and (max-height: 800px){
.header-content {
	padding-bottom: 0;
	bottom: 16%;
}
}

/* Loading */
.back-loading {
	position: fixed;
	background-color: rgba(0, 0, 0, 1);
	width: 100%;
	height: 100%;
	z-index: 9;
}

.loading,
.loading::before,
.loading::after {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
}

.loading {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Loading */

/* ToolTip */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}