@font-face {
    font-family: "proximanova";
    src: url("fonts/proximanova-regular-webfont.woff") format('woff');
}
@font-face {
    font-family: "proximanova-light";
    src: url("fonts/proximanova-light-webfont.woff") format('woff');
}
@font-face {
    font-family: "proximanova-bold";
    src: url("fonts/proximanova-bold-webfont.woff") format('woff');
    font-weight: 400;
}

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: "proximanova",Helvetica,Arial,sans-serif;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body, html {
		width: 100%;
		height: 100%;
	}

	::selection {
		color: #fff;
	}

	::-moz-selection {
		color: #fff;
	}

	::selection , body{
		background: #000;
	}

	::-moz-selection, body{
		background: #000;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

img {
	width: 50px;
	position: absolute;
	top: 50px;
	left: 100px;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
	outline: none;
}

@media only screen and (max-width: 960px){

}

.is-loaded {
	width: auto;
	position: relative;
	overflow: visible;
}

.header {

}

.header-title {
	color: #fff;
}

.main {
	background-color: #fff;
	position: relative;
}

.active {
	color: #000 !important;
}

.profile:before {
	webkit-transform: skewY(-4deg);
	transform: skewY(-4deg);
}

.profile:before {
	background-color: #fff;
}

.profile-headline-title:first-child {
	font-size: 60px;
}

.profile-headline-skill:first-child {
	font-size: 40px;
	text-align: center;
	color: #000;
}

.g-container {
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.g-section:before {
	position: absolute;
	width: 100%;
	height: 0;
	padding-bottom: 8%;
	margin-top: -4%;
	top: 0;
	right: 0;
	left: 0;
}

.g-section:before {
	content: "";
}

.g-headline {
	margin-bottom: 5%;
	position: relative;
	text-align: center;
}

.g-title {
	font-family: "proximanova-bold",Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 96px;
}

.g-skill {
	font-family: "proximanova-bold",Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 40px;
}

.g-content {
	padding: 7%;
	position: relative;
}

.button {
	width: 11em;
	border: solid 1px #000 !important;
	border-radius: 3px 0 0 3px;
}

.button:last-child {
	border-left: none;
	transform: translateX(-5px);
	border-radius: 0 3px 3px 0;
}

.show {
	color: #B5B5B5;
	padding: 8px 40px;
}
.current {
	background: #000;
}

.list {
	margin-top: 30px;
}

.grup {
	margin-top: 20px;
}

.target {
	display: inline-flex;
	width: 100%;
}

.item1 {
	width: 33.33%;
	border-right: solid 1px #B5B5B5;
	margin: 30px 0;
}

.item1:last-child {
	border: none;
}

.item2 {
	width: 33.33%;
	border-right: solid 1px #B5B5B5;
	margin: 30px 0;
}

.item2:last-child {
	border: none;
}

.text1 {
	margin-top: 30px;
}

.circle {
	margin: auto;
	width: 150px;
	height: 150px;
	padding: 30px;
	border: solid 1px #B5B5B5;
	border-radius: 100%;
}

.fa-html5 {
	color: #B5B5B5;
	font-size: 5.7em;
}

.fa-css3 {
	color: #B5B5B5;
	font-size: 5.7em;
}

.icon-jquery {
	color: #B5B5B5;
	font-size: 5.7em;
}

.icon-mysql {
	color: #B5B5B5;
	font-size: 5.7em;
}

.fa-code {
	color: #B5B5B5;
	font-size: 5.2em;
}

.header-content {
	position: absolute;
	bottom: 0;
	left: 0;
}

.header-navigation {
	position: absolute;
	top: 50px;
	right: 100px;
}

.header-navigation ul li:first-child {
	margin-left: 0;
}
.header-navigation ul li {
	margin-left: 20px;
}

#div2 {
	position: relative;
}

svg {
	position: relative;
	
}

path, polygon {
	fill: #B5B5B5;
}

li {
	display: inline-block;
}
a {
	cursor: pointer;
}

@media only screen and (max-width: 1600px), only screen and (max-height: 800px){
.header-content {
	padding-bottom: 0;
	bottom: 16%;
}
}